{% extends 'base.html.twig' %}

{% block title %}Edition Commande{% endblock %}

{% block body %}
<div class="main mainPage">
    <div class="paniercss">
        <h3 class="text-center m-4 bg-danger">Félicitation, votre commande a bien été enregistrée</h3>   

            
            <div class="d-inline m-4 ">{{ include('panier/_form.html.twig') }}</div>  

            <div class="d-inline mb-2 "> <a href="{{ path('oeuvre_index') }}" class="btn btn-primary mt-2">Retour boutique</a> </div>

    </div>
</div>
{% endblock %}
