{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <h1 class="text-center mb-4">Liste des utilisateurs</h1>
<div class="admincss">

<ul style="list-style:none;">
    <li><a href="{{ path('user_index') }}" class="btn btn-primary mt-2 mb-2">Liste des utilisateurs</a></li>
    <li><a href="{{ path('admin_oeuvre_index') }}" class="btn btn-primary mt-2 mb-2">Liste des oeuvres</a></li>
    <li><a href="{{ path('commande_index') }}" class="btn btn-primary mt-2 mb-2">Liste des commandes</a></li>
    
</ul>

</div>
{% endblock %}