{% extends 'base.html.twig'%}
{% block main_content %}
<div class="container">
        <div class="bg-info p-4 my-4">
        <h1 class="text-center"> Connexion </h1>
</div>
{% block body %}
{% endblock %}
</div>
{% endblock %}